# general patterns to ignore
# Emacs backup files
*~
# OS X system files
.DS_Store


# build artefacts by pattern:
*.o
*.a
*.class
*.dylib
*.jnilib
*.so
*.dll

# build artefact directories:
prism/bin/
prism/classes/
prism/obj/

# temporary build files:
prism/prism-sources.txt

# generated JAR files:
prism/lib/lpsolve55j.jar
prism/lib/prism.jar
prism/lib/prism-sources.jar

# generated CUDD headers:
cudd/include/*.h

# Eclipse project files (should not be versioned)
\.project
prism/\.project
# Eclipse project custom settings
\.settings/
prism/\.settings/

# Created by https://www.toptal.com/developers/gitignore/api/bazel
# Edit at https://www.toptal.com/developers/gitignore?templates=bazel

### Bazel ###
# gitignore template for Bazel build system
# website: https://bazel.build/

# Ignore all bazel-* symlinks. There is no full list since this can change
# based on the name of the directory bazel is cloned into.
/bazel-*

# Directories for the Bazel IntelliJ plugin containing the generated
# IntelliJ project files and plugin configuration. Seperate directories are
# for the IntelliJ, Android Studio and CLion versions of the plugin.
/.ijwb/
/.aswb/
/.clwb/

# End of https://www.toptal.com/developers/gitignore/api/bazel
